# Build
bin
obj
/artifacts

# Node
node_modules
npm-debug.log
package-lock.json
pnpm-lock.yaml
yarn.lock
yarn-error.log
src/**/*.js
src/**/*.js.map

# User-specific files
*.suo
*.user
*.ide
*.log
*.publishsettings
/.idea/shelf/
/.idea/httpRequests/
/.idea/**/workspace.xml
/.idea/**/tasks.xml
/.idea/**/projectSettingsUpdater.xml

# System files
.DS_Store
._*
Thumbs.db