# Build
bin
obj
/artifacts

# Node
node_modules
npm-debug.log
package-lock.json
pnpm-lock.yaml
yarn.lock
yarn-error.log
src/**/*.js
src/**/*.js.map

# User-specific files
*.suo
*.user
*.ide
*.log
*.publishsettings

# System files
.DS_Store
._*
Thumbs.db