@if (Value is { } value)
{
	@value.ToLocal(TimeProvider).ToString(Format ?? "g")
}
else if (Offset is { } offset)
{
	@offset.ToLocal(TimeProvider).ToString(Format ?? "g")
}
else if (Placeholder != "")
{
	<span class="placeholder">@(Placeholder ?? "–")</span>
}