@if (Value is { } value)
{
	@value.ToTimeZone(TimeZone ?? TimeProvider.LocalTimeZone).ToString(Format ?? "g")
}
else if (Offset is { } offset)
{
	@offset.ToTimeZone(TimeZone ?? TimeProvider.LocalTimeZone).ToString(Format ?? "g")
}
else if (Placeholder != "")
{
	<span class="placeholder">@(Placeholder ?? "–")</span>
}